html, body {
  height: 100%;
}

body {
    padding-top: 5rem;
    background-color: lightcyan;
}

.min-100 {
    min-height: 100%;
}

.content {

}

.login__form-pink {
    background-color: pink;
    padding: 100px 50px;
}

.top-100 {
    padding-top: 100px;
}

.mt15 {
  margin-top: 20px;
}
