{% extends "base.html" %}

{% block content %}
<h2>Users</h2>
<div class="container-fluid">
  <div class="row">
    <a class="btn btn-primary" href="/users/add">Add User</a>
  </div>
  <div class="mt15 row">
    <div class="col-12">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Login</th>
          <th scope="col">Super</th>
          <th scope="col">Deleted</th>
          <th scope="col">perm_name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for u in users %}
          {% include 'user.html' %}
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
